@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: black;
  color: #fff;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
  position: relative;
}

nav div {
  
  cursor: pointer;
}
/* nav */

nav {
  padding: 30px 40px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

/* nav-item3 */
nav .nav-item3 {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-item3 a:not(h3 > a) {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
}
.subHead {
  display: none;
}

nav .material-icons {
  display: none;
}

h3 > a {
  color: inherit;
  text-decoration: none;
}
/* Styling first container */
.first {
  position: relative;
  height: 90vh;
  width: 100%;
  /* border-right: 1px solid #fff; */
}
.first::after {
  /* position: absolute;
  content: "";
  top: -6px;
  left: -60px;
  width: calc(100% - 12px);
  height: calc(100%);
  border-left: 1px solid blue;
  border: 12px solid rgba(255, 0, 0, 0.5); */
}
/* Styling main-section */
.main {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main .main-content {
  text-align: center;
}
.main .main-content h1 {
  margin-bottom: 60px;
  font-size: 50px;
}
.main-content p {
  margin-bottom: 55px;
  font-size: 15px;
  font-weight: 300;
}
.main-content a {
  display: inline;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #a435f0;
}
/* section1 */
section h3 {
  text-align: center;
}
.sect-container {
  margin-top: 10px;
  display: flex;
  padding-top: 40px;
  gap: 15px;
}
/* image-container */
.image-container {
  max-width: 50%;
  padding: 20px 150px;
  background-color: #f9c88d;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
}
.text-container {
  width: 50%;
}

.text-container .sub-text-container {
  padding: 0 50px;
  position: relative;
  top: 52%;
  transform: translateY(-50%);
}
.text-container .sub-text-container h1 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 40px;
}
.text-container .sub-text-container .link a {
  display: inline;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 20px;
}

/* Hover effect to .text-container .sub-text-container .link a */
.text-container .sub-text-container .link a:hover {
  background-color: #a435f0;
  transition: 1s;
  color: black;
}

.sub-image1-cont div img {
  padding: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 30px;
}
.sub-image2-cont div img {
  width: 100%;
  height: 100%;
}

section:nth-child(even) > .sect-container .image-container {
  order: 1;
}

/* section2 */

.sub-image1-cont .image {
  position: relative;
  bottom: 20px;
}
.img-cont {
  background-color: #dbffe3;
}

/* section3 */
.image-container3 {
  width: 50%;
}
.image-container3 img {
  width: 100%;
}

/* section4 */
.sect-container .image-container4 {
  order: 2;
}
/* section share the same style with section3 */

/* footer */
footer {
  height: 50vh;
  position: relative;
  width: 100%;
}
footer .footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer > .email {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  width: 100%;
  margin: auto;
  padding: 10px 45px;
  border: 2px solid #fff;
  border-radius: 20px;
}
.footer > .email > a {
  color: #fff;
  text-decoration: none;
}
.footer .links {
  background-color: #a435f0;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  display: block;
  width: 80%;
  margin: 50px auto 0 auto;
}
.footer .links a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}


.add {
  position: absolute;
}
/* over 1200px of width */

@media (min-width: 1200px){
  .first:after {
    content: '';
    position: absolute;
    width: 97%;
    margin: auto;
    inset: 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
}

/* @media screen and (max-width: 768px) */

@media screen and (max-width: 1200px) {
  .main .main-content h1 {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 40px;
  }
  .first {
    position: relative;
    height: 100vh;
    width: 100%;
    /* border-right: 1px solid #fff; */
  }
  .img_diff{
    display: grid;
    grid-template-columns: 50% 50% ;
    padding: unset !important;
  }
  .main-content p {
    margin-bottom: 45px;
    font-size: 15px;
    font-weight: 400;
  }
  .first:after {
    content: '';
    position: absolute;
    width: 95%;
    z-index: -1;
    margin: auto;
    inset: 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
}

/* @media screen and (max-width: 576px) */

@media screen and (max-width: 720px) {
  .main .main-content h1 {
    margin-bottom: 50px;
    font-size: 30px;
  }
  .main-content p {
    margin-bottom: 45px;
    font-size: 15px;
    font-weight: 400;
  }
  .first {
    position: relative;
    height: 120vh;
    width: 100%;
    /* border-right: 1px solid #fff; */
  }
  /* Image-Container */
  /* .image-container .sub-image1-cont .medium {
    width: 40%;
  } */
  .img_diff{
    display: grid;
    grid-template-columns: 50% 50% ;
    padding: unset !important;
  }
  .sect-container {
    text-align: center !important;
  }

  .diff{
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  .first:after {
    content: '';
    position: absolute;
    width: 95%;
    margin: auto;
    z-index: -1;
    inset: 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  .sect-container {
    flex-direction: column;
    gap: 10em;
  } 
  .text-container .sub-text-container h1 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  nav .material-icons {
    display: block;
    cursor: pointer;
  }

  .nav-item3{
    overflow: hidden;
    /* display: none; */
    position: absolute;
    display: inline-block !important;
    width: 100%;
    height: 40vh;
    top: -500px;
    left: 0;
    background-color: #a435f0;
    z-index: 10;
    /* padding: 20px 50px; */
    flex-direction: column;
    /* gap: 50px; */
    align-items: center;
    transition: 1s;
  }
  .nav-item3 a {
    padding: 20px 30px !important;
    display: block;
    margin-bottom: 20px !important;
    margin-top: 20px;
    /* padding: 10px 0px !important; */
    font-size: 1.17em;
    font-weight: 400;
    border: none !important;
    border-radius: none !important;
  }
  .nav-item3 a:hover{
    background-color: #fff;
    color: blue;
    transition: 0.8s;
  }
  .nav-item3 h3 > a {
    font-weight: 400;
    font-size: 1em;
  }
  .close {
    position: absolute;
    color: red;
    display: block;
    top: 5px;
    right: 0;
    padding: 10px 30px;
    height: 20px;
    margin-bottom: 20px;
  }
  .close:hover {
    cursor: pointer;
  }
  /* nav span i {
    cursor: pointer;
  } */
}

@media screen and (max-width: 399px){
  /* .overall {
    overflow-x: hidden;
  }
  .overall::-webkit-scrollbar{
    display: none;
  } */
  .sect-container{
    display: flex !important;
    flex-direction: column;
    gap: 10em;
  }
  .first {
    position: relative;
    height: 100vh;
    width: 100%;
    /* overflow-x: hidden !important; */
    text-align: center;
    
  }
  main {
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main .main-content{
    width: 90%;
    margin: auto;
  }

  .main .main-content h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
  }
  
  .first:after {
    content: '';
    position: absolute;
    width: 95%;
    margin: auto;
    /* z-index: -1; */
    inset: 0;
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
    /* display: none !important; */
  }
  footer {
    height: 50vh;
    position: relative;
    width: 100%;
  }
}


